<mat-stepper #stepper [linear]="isLinear" (selectionChange)="selectionChange()">
  <mat-step>
    <mat-card-content class="mat-card-content">
      <h2 style="color:green">{{this.message}}</h2>
      <mat-accordion multi>
        <mat-expansion-panel [disabled]="true" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-description class="mat-toolbar">
              <span class="mat-span">Beneficiary Registration Process </span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <ul style="font-size:16px;list-style-type: circle;">
                <li>
                  This is self registration form for the eligible CGHS Beneficiaries.
                </li>
                <li>
                  Fill required details of primary card holder.
                </li>
                <li>
                  Fill required details of dependent family members.
                </li>
                <li>
                  It is recommeded to mention your ABHA Id if available.
                </li>
                <li>
                  The form is required to be digitally signed by the beneficiary.
                </li>
                <li>
                  Beneficiary self registration form is submitted to the respective CGHS nodal officer of your
                  department for further processing.
                </li>
                <li>
                  Self registration form is available in draft mode for modification until it is submitted.
                </li>

              </ul>

            </div>
          </div>
          <div class="row mt-3 mb-4 px-2">
            <div class="col-12 text-center px-2">

              <button type="submit" matStepperNext class="btn btn-primary mr-2">Proceed</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
  </mat-step>


  <mat-step [stepControl]="beneficaryform">
    <ng-template matStepLabel>Beneficiary Detail</ng-template>
    <app-beneficiary-form [benRegistrationData]="benRegistrationData" [primaryBeneficiaryData]="primaryBeneficiaryData"
      [applicationId]="applicationId"></app-beneficiary-form>


  </mat-step>

  <mat-step [stepControl]="familydetailform">
    <ng-template matStepLabel>Family Detail</ng-template>
    <app-familydetail-form [benRegistrationData]="benRegistrationData" [primaryBeneficiaryData]="primaryBeneficiaryData"
      [familyData]="familyData"></app-familydetail-form>
  </mat-step>




  <mat-step>
    <ng-template matStepLabel>Preview & Submit Application</ng-template>

    <div class="alert" *ngIf="applicationSubmitted" class="alert alert-success">
      {{applicationSubmittedMessage}}
    </div>

    <div class="row mt-3 mb-4 px-2">

      <div class="container" *ngIf="showBeneficiaryTable">
        <div class="card">
          <div class="card-body">
            <div style="color:white;border: 1px solid;
                justify-content: center;
                text-align: center;
                background-color: #3232b7;
                height: 32px;">
              <h2 class="card-title">Application Detail</h2>
            </div>
            <div class="row" style="padding-top: 15px">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="col-md-2">Application No.</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.benRegistrationApplicationResource.applicationnumber}}</td>
                      <th class="col-md-2">Name(English)</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.englishname}}</td>
                      <th class="col-md-2">Name(Hindi)</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.hindiname}}</td>

                    </tr>
                    <tr>
                      <th class="col-md-2">Card Type</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.cardTypeName}}</td>
                      <th class="col-md-2">Central Deputation</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.centraldeputation=='1'?'Yes':'No'}}</td>
                    </tr>
                    <tr>
                      <th class="col-md-2">Date of Birth</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.dob | date:'mediumDate'}}</td>
                      <th class="col-md-2">Gender</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.gender=='M'?'Male':'Female'}}</td>
                      <th class="col-md-2">Present Pay Level</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.presentPay}}</td>
                    </tr>

                    <tr>

                      <th class="col-md-2">Pay Scale</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.payScaleName}}</td>
                    </tr>

                    <tr>
                      <th class="col-md-2">Ministry</th>
                      <td class="col-md-1">{{ministryNameResponse.ministryName}}</td>
                      <th class="col-md-2">Department</th>
                      <td class="col-md-1">{{departmentNameResponse.departmentName}}</td>
                      <th class="col-md-2">Organization</th>
                      <td class="col-md-1">{{organizationNameResponse.organizationName}}</td>

                    </tr>

                    <tr>
                      <th>CGHS City Name</th>
                      <td>{{primaryBeneficiaryData.cghsCityName}}</td>
                      <th>Ward Entitlement</th>
                      <td>{{WardEntitlement.wardEntitlement}}</td>
                    </tr>

                    <tr>
                      <th class="col-md-2">Office Address</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.officeaddress}}</td>
                      <th class="col-md-2">Office Email</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.officeemail}}</td>
                      <th class="col-md-2">Office Phone</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.officephoneno}}</td>
                    </tr>

                    <tr>
                      <th class="col-md-2">Office PIN Number</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.officepincode}}</td>


                    </tr>

                    <tr>
                      <th class="col-md-2">Residential Address</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialaddress}}</td>
                      <th class="col-md-2">Residential Place</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialplace}}</td>
                      <th class="col-md-2">Residential City</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialcity}}</td>
                    </tr>

                    <tr>
                      <th class="col-md-2">Residential PinCode</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialcity}}</td>
                      <th class="col-md-2">Residential Phone</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialphone}}</td>
                      <th class="col-md-2">Residential Mobile</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialmobile}}</td>
                    </tr>

                    <tr>

                      <th class="col-md-2">Residential Retirement Date</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialretirementdate | date:'mediumDate'}}</td>
                      <th class="col-md-2">Residential Email</th>
                      <td class="col-md-1">{{primaryBeneficiaryData.residentialemail}}</td>
                    </tr>


                  </tbody>

                </table>
              </div>
            </div>

            <pre></pre>

            <div style="color:white;border: 1px solid;
                  justify-content: center;
                  text-align: center;
                  background-color: #3232b7;
                  height: 32px;">
              <h2 class="card-title">Family Member Detail</h2>
            </div>
            <div class="row" style="padding-top: 15px;">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="table-light">
                    <tr>


                      <th class="col-md-2">S. No</th>
                      <th class="col-md-2">Name(English)</th>
                      <th class="col-md-2">Name(Hindi)</th>
                      <th class="col-md-2">Phone</th>
                      <th class="col-md-2">Gender</th>
                      <th class="col-md-2">Date of Birth</th>
                      <th class="col-md-2">Relation Code</th>
                      <th class="col-md-2">Blood Group</th>


                    </tr>

                  </thead>
                  <tbody *ngFor="let member of familyData;let i=index">

                    <tr>

                      <td class="col-md-1">{{i+1}}</td>
                      <td class="col-md-1">{{member.englishname}}</td>
                      <td class="col-md-1">{{member.hindiname}}</td>


                      <td class="col-md-1">{{member.mobile}}</td>

                      <td class="col-md-1">{{member.gender=='M'?'Male':'Female'}}</td>
                      <td class="col-md-1">{{member.dateOfBirth | date:'mediumDate'}}</td>
                      <td class="col-md-1">{{member.relationName}}</td>
                      <td class="col-md-1">{{member.bloodGroupName}}</td>

                    </tr>
                  </tbody>

                </table>
              </div>

            </div>
            <div class="row" *ngIf="!benRegistrationData?.isFinal">
              <form class="my-form" [formGroup]="submitForm">
                <mat-form-field appearance="outline">
                  <mat-label>Select CGHS Nodal Officer of your organization </mat-label>
                  <mat-select placeholder="--Select--" formControlName="nodalOfficerId">
                    <mat-option value="{{officer.parichayUserId}}"
                      *ngFor="let officer of nodalOfficerList">{{officer.user_name}}</mat-option>
                  </mat-select>
                  <mat-error class="text-danger" *ngIf="
                      submitForm.get('nodalOfficerId').touched &&
                      submitForm.get('nodalOfficerId').errors?.required">
                    <strong>Required field</strong>
                  </mat-error>
                </mat-form-field>
              </form>
            </div>

            <div class="row">
              <h3 *ngIf="benRegistrationData?.isFinal">Application is Submitted on dated {{benRegistrationData.updatedon
                | date:'medium'}}</h3>
            </div>

          </div>
        </div>



      </div>

      <div style="margin-top:10px" class="col-12 text-center px-2">



        <button mat-button class="btn btn-primary" *ngIf="!benRegistrationData?.esignStatus" (click)="finalSubmit()">Submit </button>&nbsp;
        <button mat-button matStepperNext class="btn btn-primary mr-2">Next</button>&nbsp;
        <button mat-button matStepperPrevious class="btn btn-primary mr-2">Back</button>

      </div>
    </div>
  </mat-step>


  <mat-step [stepControl]="esignForm">
    <ng-template matStepLabel>eSign</ng-template>
    <app-beneficiary-esign [benRegistrationData]="benRegistrationData" [primaryBeneficiaryData]="primaryBeneficiaryData"
      [familyData]="familyData" [ministryNameResponse]="ministryNameResponse"
      [departmentNameResponse]="departmentNameResponse"
      [organizationNameResponse]="organizationNameResponse"></app-beneficiary-esign>
  </mat-step>


</mat-stepper>